include ./includes/head.pug
body.container
    //- Pull top fives to the right
    //- Add About type section
    //- Add inputs instead of a's
    h1 Welcome to poemsbyparker
    //- div
    //-     p 5 Most Recent Collections
    //-     ul
    //-         each collection in collections
    //-             li 
    //-                 a(href=`/collections/c?name=${collection.name}`) #{collection.name}

    //- div
    //-     p 5 Most Recent Poems
    //-         ul
    //-             each poem in poems
    //-                 li 
    //-                     a(href=`/collections/poems/p?collection=${poem.collection_name}&title=${poem.title}`) #{poem.title}

    div
        a(href="/collections") All Collections

    div
        a(href="/collections/poems") All Poems

    div
        p This is what I have to show for 2017. On the afternoon of January 1, 2017 I visited the SFMOMA with the intention of being inspired. I bought a notebook and a pencil shaped pen from the giftshop. That day, I began to write. Throughout the year this notebook served as a therapist, a pass-time, a space for critical reflection at difficult times, and much more. I never sought to rhyme or put strict form to what I deem poems. I just wanted to put words together to express the world around me and my experience in it. 

        p I knew early in the year that I wanted to share this work. Good, bad, or very bad, I wanted to create something, art hopefully, and share it with people like the artists in SFMOMA did. I came up with the idea of making a website around September, when I moved to Minnesota. 

        p The artists in museums through time have used different mediums for different reasons. My medium is the code. It is what I have chosen to study and I wanted to put my unique work in the space that I uniquely know.

        p This project is a work in progress. Many things about this site, as of December 31, 2017 when I'm writing this, are not how I want them. The poems don't format correctly, it is hosted on Heroku, and it looks terrible to name a few. I wanted a technical project with technical problems for me to solve. Now I have one.

        p 2017 is the first of my first collections. It is rough, it is raw, it is alright. I hope you'll read through my year and I hope I've written in a way that you can feel my experience.

        p 
            small v1.0.1

