include ../includes/head.pug
body.container
    h1 Edit #{collection.name}

    form(action=`/collections?_method=PATCH&uuid=${collection.uuid}`, method='POST')
        label Name
            input(type="text", name="name", value=`${collection.name}`)
        label Description
            textarea(name="description", cols="30", rows="10") #{collection.description}
        input(type="submit", value="Edit Collection")

    form(action=`/collections?_method=DELETE&uuid=${collection.uuid}`, method='POST')
        input(type="submit", value="Delete this collection")