include ../includes/head.pug
body.container
    br
    p poemsbyparker
    div
        p All poems - in alphabetical order
        ol
            each poem, i in poems
                form(name=`poem${i}`, action=`/collections/poems`, method='GET')
                    input(type='hidden', name='collection', value=`${poem.collection_name}`)
                    input(type='hidden', name='title', value=`${poem.title}`)
                    a(href=`javascript:document.forms["poem${i}"].submit()`) #{poem.title}